    
   @model User 
    
    
    
     <div class="container">
            <form class='form-control' asp-action="Login" asp-controller="User" method="post">   
                       
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email">
                    <span asp-validation-for="Email"></span><br>
                </div>
                


                <div class="form-group">
                    <span asp-validation-for="Password"></span>
                    <label asp-for="Password"></label>
                    <input asp-for="Password">
               </div>

                <div class="form-group">
                    <input value="Login" class="btn btn-primary" type="submit">
                </div>

            </form>
            <a asp-area="" asp-controller="User" asp-action="Register">Need to Register?</a>
 </div>
 