 <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a href="/AllList"  >AllList</a>
        </div>
    </nav>


@ViewBag.category.Category_Name
@ViewBag.category.Products.Count