@{
    ViewData["Title"] = "NewUser";
}
      <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey2</title>
    
</head> 
  

    @model FormValidation.Models.User
    <div class="container">
        <div class="forms" >

            <form asp-action="Create" asp-controller="Home" method="post">
                <div class="row">
                <span asp-validation-for="FirstName"></span>
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
                </div>

                <div class="row">
                <span asp-validation-for="LastName"></span>
                <label asp-for="LastName"></label>
                <input asp-for="LastName">
                </div>
                
                <div class="row">
                <span asp-validation-for="Email"></span>
                <label asp-for="Email"></label>
                <input asp-for="Email">
                </div>

                <div class="row">
                <span asp-validation-for="Age"></span>
                <label asp-for="Age"></label>
                <input asp-for="Age">
                </div>

                <div class="row">
                <span asp-validation-for="Password"></span>
                <label asp-for="Password"></label>
                <input asp-for="Password">
                </div>

                <div class="row">
                <input value="Add User" type="submit">
                </div>
            </form>

        </div>
    </div>
<style>

    .forms{
        margin-top: 100px;
    }
    .row{
        margin-top: 20px;
    }
    label{
        margin-right: 100px;
    }

</style>
</html>
    

    
