@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<LoginRegistration.Models.User>

    
            <ul class="links-left">
                <li><a href="register">Register</a></li>
                <li><a href="login">Login</a></li>
            </ul>


    



        