
@model ViewModel

@{
    ViewData["Title"] = "Home Page";
}






        <div class="container" style="margin-top">
                <div class="row">
                    <div class="col-sm">
                    <a class="Links" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                    </div>
                    <div class="col-6">
                         </div>
                    <div class="col-sm">
                    <a class="Links"  asp-area="" asp-controller="User" asp-action="Register">Register</a>
                    </div>
                    <h2>Wedding Planner</h2>
                   
                </div>
        </div>

        
        <style>


                
            .Links{
                font-size: 25px;               
            }
        
        
        </style>