

@{
    ViewData["Title"] = "Login/Register";
}
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="nav-link" href="Login">Login</a>
  <a class="nav-link" href="Register">Register</a>
</nav>




<div class="jumbotron">
  <h2 class="display-4">Welcome to the Test</h2>
  <p class="lead">We're going to build a cool application using a MVC framework! This application was built with the Village88 folks!!</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="Login" role="button">Start</a>
  </p>
</div>