@{
    ViewData["Title"] = "Home Page";
}

  @model User
    
    <div class="container">
    
        <div class="login">
                <form asp-action="Login" asp-controller="User" method="post">   
                        
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email">
                        <span asp-validation-for="Email"></span><br>
                    </div>
                    


                    <div class="form-group">
                        <span asp-validation-for="Password"></span>
                        <label asp-for="Password"></label>
                        <input asp-for="Password">
                </div>

                    <div class="form-group">
                        <input value="Login" class="btn btn-primary" type="submit">
                    </div>

                </form>
            
    </div>
    <div class="register">
        
            <div class="forms" >
                <form  asp-action="Register" asp-controller="User" method="post">
                    <div class="form-group">
                    
                        <label asp-for="First_Name"></label>
                        <input asp-for="First_Name">
                        <span asp-validation-for="First_Name"></span>
                    </div>

                    <div class="form-group">
                    
                        <label asp-for="Last_Name"></label>
                        <input asp-for="Last_Name">
                        <span asp-validation-for="Last_Name"></span>
                    </div>
                    
                    <div class="form-group">
                    
                        <label asp-for="Email"></label>
                        <input asp-for="Email">
                        <span asp-validation-for="Email"></span>
                    </div>

                

                    <div class="form-group">
                    
                        <label asp-for="Password"></label>
                        <input asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="form-group">
                        
                        <label asp-for="ConfirmPassword">Confirm Password:</label>
                        <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>



                    <div class="form-group">
                    <input class="btn btn-primary" value="Register" type="submit">
                    </div>
                </form>
            
                

            </div>
</div>
<style>

.login, .register
{
    border:solid lightgray 1px;
    width: 600px;
    padding: 20px
}

</style>