<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    @model ModelFun.Models.IntArray
    <title>Document</title>
</head>
<body>
    <div class="container">
         <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <a href="/"  >Home</a>
                <a href="/numbers"  >Numbers</a>
                <a href="/users"  >Users</a>
                <a href="/user"  >User</a>
            </div>
        </nav>

    <div class="numbers">
    @foreach(var num in @Model.intArray)
    {
        <p>@num</p>
    }
    </div>
    </div>

</body>
<style>
    .numbers{
            
    width: 100px;
    border: solid black 1px;
    position: relative;
    left: 35%;
    margin-top: 150px;

    }
</style>
</html>